<div class="container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Chair</span>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">{{ userInfo.name }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>
  <mat-drawer-container class="content" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
      <ul class="drawer-list">
        <li class="drawer-item" routerLink="/chair/enrolmentHour">
          <mat-icon class="vertical-align-middle mr-2">pending_actions</mat-icon>
          <span class="vertical-align-middle">enrolment hours</span>
        </li>
      </ul>
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
