<div class="container">
  <div class="modal-title">Update TA Hours</div>
  <div class="modal-content">
    <mat-form-field class="modal-field">
      <input matInput [formControl]="taHours" placeholder="Enter TA Hours" required>
      <mat-error *ngIf="taHours.invalid">
        {{ taHours.hasError('required') ? 'TA Hours required':
        this.taHours.hasError('pattern') ? 'invalid TA Hours': ''
        }}
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="modal-footer">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onOk()">Submit</button>
  </div>
</div>

