<div class="container">
  <div class="section">
    <div class="title">Your Courses:</div>
    <div class="right">
      <button
        mat-flat-button
        *ngFor="let course of courses"
        [color]="currentCourse._id === course._id ? 'primary': ''"
        (click)="switchCourse(course)"
      >
        {{ course.subject + course.catalog }}
      </button>
    </div>
  </div>
  <div class="section">
    <div class="title">Current Selection Applicants:</div>
    <div>{{ currentCourse.subject + currentCourse.catalog }}</div>
  </div>
  <div class="section">
    <ngx-sortable name="Applicants Ranking"
                  [items]="applicants"
                  [listStyle]="{ width: '100%' }"
                  (listSorted)="listOrderChanged($event)">
      <ng-template let-item>
        <div class="sortable-list-item">
          {{item.applicant_name}}
        </div>
      </ng-template>
    </ngx-sortable>
  </div>
  <div class="text-align-center mt-5">
    <button mat-flat-button color="primary" (click)="completeRanking()">Complete Ranking</button>
  </div>
</div>
