<div class="top-bar">
  <div class="mb-5">
    <button  mat-flat-button color="primary" (click)="openAssignTAModal()">Add</button>
  </div>
  <div class="mb-5">
    <button  mat-flat-button color="primary" (click)="download()">Download</button>
  </div>
</div>
<table mat-table [dataSource]="taHours" class="mat-elevation-z8">

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.applicant_email}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="openTACourseModal(element.applicant_email)">{{element.applicant_name}}</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="ta_hours">
    <th mat-header-cell *matHeaderCellDef> Assigned TA Hours </th>
    <td mat-cell *matCellDef="let element"> {{element.hour}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="openAssignTAModal(element)">Update</button>
      <button mat-button color="primary" (click)="deleteAllocation(element._id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
