<table mat-table [dataSource]="taCourses" class="mat-elevation-z8">

  <ng-container matColumnDef="instructor_name">
    <th mat-header-cell *matHeaderCellDef> Instructor Name </th>
    <td mat-cell *matCellDef="let element"> {{element.users.name}} </td>
  </ng-container>

  <ng-container matColumnDef="course_code">
    <th mat-header-cell *matHeaderCellDef> Course Code </th>
    <td mat-cell *matCellDef="let element"> {{element.courses.subject + element.courses.catalog}} </td>
  </ng-container>

  <ng-container matColumnDef="need_ta">
    <th mat-header-cell *matHeaderCellDef> Need TA </th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle color="primary" [checked]="element.need_ta" (change)="changeNeedTa(element, $event)"></mat-slide-toggle>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


