<table mat-table [dataSource]="courses" class="mat-elevation-z8">
  <ng-container matColumnDef="course_code">
    <th mat-header-cell *matHeaderCellDef> Course Code </th>
    <td mat-cell *matCellDef="let element"> {{element.subject + element.catalog}} </td>
  </ng-container>

  <ng-container matColumnDef="section">
    <th mat-header-cell *matHeaderCellDef> Section </th>
    <td mat-cell *matCellDef="let element"> {{element.section}} </td>
  </ng-container>

  <ng-container matColumnDef="component">
    <th mat-header-cell *matHeaderCellDef> Component </th>
    <td mat-cell *matCellDef="let element"> {{element.component}} </td>
  </ng-container>

  <ng-container matColumnDef="need_ta">
    <th mat-header-cell *matHeaderCellDef> Need TA </th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle color="primary" [checked]="needTA(element._id)" (change)="changeNeedTa(element, $event)"></mat-slide-toggle>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="page.totalSize"
               [pageSize]="page.pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageChange($event)">
</mat-paginator>


