<div class="top-bar">
  <div class="mb-5">
    <ng-container *ngIf="!review">
      <button mat-flat-button color="primary" (click)="reviewCourseTa(true)">Accept</button>
      <button mat-flat-button color="primary" (click)="reviewCourseTa(false)">Reject</button>
    </ng-container>
  </div>
  <div class="mb-5 text-align-right">
    <button mat-flat-button color="primary" (click)="download()">Download</button>
  </div>
</div>
<table mat-table [dataSource]="courseTAs" class="mat-elevation-z8">

  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef> Course Code </th>
    <td mat-cell *matCellDef="let element"> {{element.courses[0].subject + element.courses[0].catalog}} </td>
  </ng-container>

  <ng-container matColumnDef="ta_num">
    <th mat-header-cell *matHeaderCellDef> Number of TAs Assigned </th>
    <td mat-cell *matCellDef="let element"> {{element.allocations.length}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="goTAHours(element.courses[0]._id)">Detail</button>
      <ng-container *ngIf="hasReview(element.courses[0]._id)">
        <button mat-button color="primary" (click)="approveCourseTa(element)">Accept</button>
        <button mat-button color="primary" (click)="rejectCourseTa(element)">Reject</button>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
