<div class="container">
  <div class="modal-title">Invite Sign Up</div>
  <div class="modal-content">
    <mat-form-field class="modal-field">
      <mat-icon matPrefix class="mr-2 vertical-align-middle">email</mat-icon>
      <input matInput [formControl]="email" placeholder="Enter Your Email" required>
      <mat-error *ngIf="email.invalid">
        {{ email.hasError('required') ? 'email required':
        this.email.hasError('email') ? 'invalid email': ''
        }}
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="modal-footer">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onOk()">Submit</button>
  </div>
</div>

